In [1]:
import sqlalchemy
import numpy as np
import pandas as pd
import geopandas as gpd
from tqdm import tqdm
import env_intel_utils as eiutils

In [2]:
#GET UNIQUE ID_Gebs
engine = sqlalchemy.create_engine('postgresql://postgres:123456@localhost/sdb_swiss_buildings')
sql_query = ''' 
            SELECT "ID_Geb"
            FROM public.viewpoint_visualshare
            GROUP BY "ID_Geb"
            
'''
id_gebs = pd.read_sql(sql_query, engine.raw_connection())

C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\1289607692.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  id_gebs = pd.read_sql(sql_query, engine.raw_connection())

In [3]:
#MAKE LIST OF SQL QUERIES BY ID_GEB 
def make_query(gebs):
    query = (
                f'SELECT * ' \
                f'FROM public.viewpoint_visualshare ' \
                f'WHERE "ID_Geb" IN {tuple(gebs)}' \
                    )
    return query

# split the series into chunks of 10000

def make_geb_list(num):
    geb_chunks = np.array_split(id_gebs.ID_Geb, len(id_gebs.ID_Geb) / num)

    sql_query_lst = [make_query(gebs) for gebs in geb_chunks]
    print("Num of Chunks ", len(sql_query_lst))
    return sql_query_lst

In [4]:
sql_query_lst = make_geb_list(100000)

Num of Chunks  33

In [5]:
#LOOP THROUGH CHUNKS OF ID_GEBS, CREATE VIEWMETRICS, AND APPEND TO RESULTS DF
engine = sqlalchemy.create_engine('postgresql://postgres:123456@localhost/sdb_swiss_buildings')

result = pd.DataFrame()
print('Starting Loop')
for ix, sql_query in enumerate(tqdm(sql_query_lst)):
    
    #Pull VSH Data for set of ID_Gebs
    input_df = pd.read_sql(sql_query, engine.raw_connection())
    print(f'Now running set num. {ix} with size {input_df.shape[0]}')
    # CONVERT STRING TO FLOATS
    input_df = input_df.mask(input_df == '')
    numeric_cols = input_df.columns[input_df.columns.str.contains('Sh')].tolist()+['Grad','Stockwerk','FassPktX', 'FassPktY', 'FassPktZ']
    input_df[numeric_cols] = input_df[numeric_cols].astype(float)
    
    #Start caluclating building viewmetrics
    maxvsh  = eiutils.get_maxvsh_scores(input_df)['score']
    # print('maxvsh', maxvsh.shape)#, maxvsh.columns, maxvsh.head())
    vwa     = eiutils.get_visual_access_score(input_df)['score']
    # print('vwa', vwa.shape)#, vwa.columns, )
    snt_mn  = eiutils.get_sentinment_score(input_df)
    # print('snt', snt_mn.shape)#snt_mn.columns, 
    dist_mn = eiutils.get_distance_scores(input_df)
    # print('dist_mn', dist_mn.shape)#dist_mn.columns, 
    vconfig = eiutils.get_complexity_score(input_df)
    # print('vconfig', vconfig.shape)#, vconfig.columns
    mn_vsh = eiutils.get_meanvsh_scores(input_df)
    mn_coords = mn_vsh['coords']
    mx_flr = mn_vsh['topflr']
    # print('vconfig', vconfig.shape)#, vconfig.columns
    viewmetrics = pd.concat([maxvsh, vwa,snt_mn,dist_mn,vconfig,mn_coords,mx_flr], axis = 1)
    # print('vm', viewmetrics.shape)
    result = pd.concat([result, viewmetrics], axis = 0)

result.shape
#compute bldg visualcapital
# %time viewmetrics.columns = viewmetrics.columns.str.replace('maxvsh_','').str.replace('sum_','').str.replace('pano_rich','pano_rh')

Starting Loop

  0%|          | 0/33 [00:00<?, ?it/s]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 0 with size 1005777

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
  3%|▎         | 1/33 [15:33<8:17:59, 933.74s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 1 with size 999390

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
  6%|▌         | 2/33 [31:04<8:01:24, 931.75s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 2 with size 995418

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
  9%|▉         | 3/33 [46:15<7:41:19, 922.66s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 3 with size 999339

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 12%|█▏        | 4/33 [1:01:53<7:28:50, 928.63s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 4 with size 1000907

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 15%|█▌        | 5/33 [1:17:10<7:11:20, 924.32s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 5 with size 994489

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 18%|█▊        | 6/33 [1:32:34<6:55:54, 924.26s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 6 with size 987262

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 21%|██        | 7/33 [1:47:28<6:36:12, 914.33s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 7 with size 991698

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 24%|██▍       | 8/33 [2:02:53<6:22:22, 917.69s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 8 with size 999315

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 27%|██▋       | 9/33 [2:18:16<6:07:47, 919.48s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 9 with size 990839

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 30%|███       | 10/33 [2:33:50<5:54:06, 923.77s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 10 with size 997531

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 33%|███▎      | 11/33 [2:49:15<5:38:56, 924.39s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 11 with size 985585

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 36%|███▋      | 12/33 [3:04:42<5:23:47, 925.12s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 12 with size 985774

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 39%|███▉      | 13/33 [3:19:41<5:05:44, 917.24s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 13 with size 998947

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 42%|████▏     | 14/33 [3:35:11<4:51:40, 921.10s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 14 with size 987885

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 45%|████▌     | 15/33 [3:50:15<4:34:45, 915.86s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 15 with size 986915

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 48%|████▊     | 16/33 [4:05:34<4:19:45, 916.77s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 16 with size 998254

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 52%|█████▏    | 17/33 [4:20:55<4:04:50, 918.17s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 17 with size 1003331

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 55%|█████▍    | 18/33 [4:36:46<3:51:58, 927.91s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 18 with size 984139

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 58%|█████▊    | 19/33 [4:52:04<3:35:50, 925.02s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 19 with size 987725

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 61%|██████    | 20/33 [5:07:43<3:21:18, 929.08s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 20 with size 988902

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 64%|██████▎   | 21/33 [5:22:53<3:04:42, 923.52s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 21 with size 993789

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 67%|██████▋   | 22/33 [5:38:13<2:49:05, 922.29s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 22 with size 986119

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 70%|██████▉   | 23/33 [5:53:29<2:33:25, 920.56s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 23 with size 990212

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 73%|███████▎  | 24/33 [6:08:55<2:18:18, 922.06s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 24 with size 988584

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 76%|███████▌  | 25/33 [6:24:03<2:02:23, 917.99s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 25 with size 997407

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 79%|███████▉  | 26/33 [6:39:41<1:47:46, 923.85s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 26 with size 991478

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 82%|████████▏ | 27/33 [6:55:01<1:32:15, 922.65s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 27 with size 989797

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 85%|████████▍ | 28/33 [7:10:44<1:17:24, 928.88s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 28 with size 992884

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 88%|████████▊ | 29/33 [7:25:51<1:01:28, 922.19s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 29 with size 1002270

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 91%|█████████ | 30/33 [7:41:22<46:14, 924.89s/it]  C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 30 with size 989373

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 94%|█████████▍| 31/33 [7:56:30<30:39, 919.98s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 31 with size 989416

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
 97%|█████████▋| 32/33 [8:11:44<15:18, 918.21s/it]C:\Users\swietek\AppData\Local\Temp\ipykernel_12264\456756357.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  input_df = pd.read_sql(sql_query, engine.raw_connection())

Now running set num. 32 with size 998550

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)
100%|██████████| 33/33 [8:27:09<00:00, 922.12s/it]

(3319808, 65)

In [6]:
result.to_pickle('../../geodata/results/00_building_level_view_metrics.pkl')

In [81]:
#GET VISUAL SHARE DATA FROM SBD USING GEOREFERENCED RECTANGLE
engine = sqlalchemy.create_engine('postgresql://postgres:123456@localhost/sdb_swiss_buildings')

xmin, ymin, xmax, ymax = (2530994.76625006, 1151028.16500498, 2534619.74125005,1152519.92000481)
sql_query = (
                f'SELECT *, 	ST_SetSRID(ST_MakePoint("FassPktX"::double precision, "FassPktY"::double precision),2056) as geom' \
                f'FROM public.viewpoint_visualshare ' \
                f'WHERE ST_WITHIN('\
                    f'ST_SetSRID(ST_MakePoint("FassPktX"::double precision, "FassPktY"::double precision),2056,' \
                    f'ST_MakeEnvelope({xmin}, {ymin}, {xmax},{ymax}, 2056)'\
                f')'\
)

vsh = gpd.GeoDataFrame.from_postgis(sql_query, engine.raw_connection())

# CONVERT STRING TO FLOATS
input_df = vsh.mask(vsh == '')
numeric_cols = input_df.columns[input_df.columns.str.contains('Sh')].tolist()+['Grad','Stockwerk','FassPktX', 'FassPktY', 'FassPktZ']
%time input_df[numeric_cols] = input_df[numeric_cols].astype(float)

In [15]:
%time maxvsh  = eiutils.get_maxvsh_scores(input_df)['score']
print('maxvsh', maxvsh.shape)#, maxvsh.columns, maxvsh.head())
%time vwa     = eiutils.get_visual_access_score(input_df)['score']
print('vwa', vwa.shape)#, vwa.columns, )
%time snt_mn  = eiutils.get_sentinment_score(input_df)
print('snt', snt_mn.shape)#snt_mn.columns, 
%time dist_mn = eiutils.get_distance_scores(input_df)
print('dist_mn', dist_mn.shape)#dist_mn.columns, 
%time vconfig = eiutils.get_complexity_score(input_df)
print('vconfig', vconfig.shape)#, vconfig.columns
%time viewmetrics = pd.concat([maxvsh, vwa,snt_mn,dist_mn,vconfig], axis = 1)
print('vm', viewmetrics.shape)

#compute bldg visualcapital
# %time viewmetrics.columns = viewmetrics.columns.str.replace('maxvsh_','').str.replace('sum_','').str.replace('pano_rich','pano_rh')

CPU times: total: 172 ms
Wall time: 150 ms
maxvsh (1690, 21)
CPU times: total: 203 ms
Wall time: 208 ms
vwa (1690, 21)
CPU times: total: 188 ms
Wall time: 182 ms
snt (1690, 6)
CPU times: total: 1.55 s
Wall time: 265 ms
dist_mn (1690, 10)
CPU times: total: 3.09 s
Wall time: 252 ms
vconfig (1690, 3)
CPU times: total: 0 ns
Wall time: 2 ms
vm (1690, 61)

c:\Users\swietek\Miniconda3\envs\env_intel_sdb\lib\site-packages\pandas\core\internals\blocks.py:351: RuntimeWarning: divide by zero encountered in log
  result = func(self.values, **kwargs)

In [16]:
viewmetrics.describe().T.round(2)

               count   mean    std   min   25%    50%    75%     max
maxvsh_Abb7   1690.0   0.11   1.02  0.00  0.00   0.02   0.11   32.84
maxvsh_Abw14  1690.0   0.00   0.00  0.00  0.00   0.00   0.00    0.03
maxvsh_Dac1   1690.0   5.47  10.72  0.00  0.38   1.09   3.23   58.70
maxvsh_Fas2   1690.0  23.62  22.07  0.00  9.27  16.64  29.99  100.02
maxvsh_Flu18  1690.0   0.00   0.00  0.00  0.00   0.00   0.00    0.00
...              ...    ...    ...   ...   ...    ...    ...     ...
refuge        1690.0   0.59   0.18  0.00  0.49   0.61   0.71    1.23
unit_pano     1657.0   0.04   0.03  0.00  0.02   0.03   0.05    0.46
cmpx_rh       1690.0  10.48   2.19  1.00  9.00  11.00  12.00   16.00
cmpx_shanon   1690.0   1.43   0.16 -0.00  1.35   1.44   1.53    1.80
cmpx_gini     1690.0   0.84   0.02  0.76  0.83   0.84   0.85    0.95

[61 rows x 8 columns]